
<h1>New Participant</h1>
<%= form_for @participant, html: { multipart: true } do |form| %>
    <p>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </p>
    <p>
        <%= label_tag(:email, "Email") %> 
        <%= form.text_field :email %>
    </p>
    <p>
        <%= label_tag(:address, "Address") %> 
        <%= form.text_field :address %>
    </p>
    <p>
        <%= label_tag(:role, "Role") %>
        <%= form.select :role, options_for_select([['Select Role', '0'], ['Interviewer', 'Interviewer'],['Interviewee', 'Interviewee']], '0')%>
    </p>
    <p unless :role == 'Interviewer'>
      <%= label_tag(:pdf, "Resume") %> 

      <%= form.file_field :pdf %>
    </p>

    <p>
      <%= form.submit %>
    </p>
  <% end %>
  
<%= link_to "Participant List",participants_path%>