<h1>Participant Show Page</h1>
<p>Name: <%= @participant['name']%></p>
<p>Email: <%= @participant['email']%></p>
<p>Address: <%= @participant['address']%></p>
<p>Role: <%= @participant['role']%></p>
<p>Resume: </p>

<%= link_to "Back To Participant List",participants_path%>